@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

header {
    width: 100%;
    background-color: rgb(147, 226, 236);
    color: rgb(122, 101, 101);
}

.presentacion {
    padding: 10% 10% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.textoPresentacion {
    width: 50%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
}

#miImagen {
    max-width: 500px;
    display: inline-block;
    border-radius: 5%;
    background-color: rgb(255, 254, 192);
}

.textoEstandar {
    font-size: 2em;
}

#textoBienvenida {
    font-size: 2.5em;
    font-weight: bolder;
    color: rgb(167, 115, 156);
}

.boton {
    font-size: 1.3em;
    font-weight: normal;
    padding: 20px;
    margin-top: 20px;
    background-color: blueviolet;
    border-radius: 30px;
    color: white;
}

#boton:hover {
    box-shadow: 12px 12px 2px 1px rgba(6, 6, 65, 0.322);
}

.menuLink {
    color: white;
}

.menuLink:hover {
    color: aqua;
}

.barraNav ul li {
    padding: 0px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.barraNav ul {
    display: flex;
    flex-direction: row;

}

a {
    text-decoration: none;
    font-size: 2em;
}

.barraNav {
    background-color: black;
    color: white;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section {
    padding: 5% 6% 5%;
    background-color: rgb(255, 254, 192);
    text-align: center;
}

h2 {
    font-size: 4em;
    font-weight: bolder;
}

.contenedorConocimientos {
    padding: 2% 10% 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.iconoTecnologia {
    width: 160px;
    margin-bottom: 5px;
}

.tarjetaConocimientos {
    padding: 30px 60px;
    width: auto;
    background-color: white;
    font-size: 1.5em;
    color: black;
    border-radius: 5%;
}

.cita {
    background-color: rgb(147, 226, 236);
    font-size: 3em;

}

.comillas {
    width: 90px;
}

.autorCita {
    font-size: 1.5em;
    font-weight: bolder;
}

.iconoProyecto {
    width: 250px;
    margin-bottom: 5px;
}

.tarjetaProyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
    width: 300px;
    height: 450px;
    border: 2px solid black;
    border-radius: 5%;
}

.enlaceProyecto {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.tarjetaProyecto:hover {
    box-shadow: 12px 12px 2px 1px rgba(6, 6, 65, 0.452);
}

.contenedorProyectos {
    padding: 2% 10% 0%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.redesSoc,
.formularioContacto {
    background-color: rgba(250, 235, 215, 0);
    padding: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

#textoRedes {
    width: 100%;
    text-align: justify;
    font-size: 2em;
}

.iconoRedSocial,
.imagenIconoFoot {
    width: 50px;
}

.redesSociales {
    padding-top: 5%;
    padding-bottom: 0%;
}

.redSocial {
    padding-left: 3%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.enlaceContacto {
    padding-left: 3%;
    text-decoration: none;
    color: black;
}

.enlaceContacto:hover {
    text-shadow: 2px 2px rgba(6, 6, 65, 0.452);
}

.formulario {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

}

#enviar{
    padding: 0;
    height: auto;
    width: 200px;
    margin: auto;
}

#nombre,
#apellido,
#correo-e {
    text-align: left;
    width: 100%;
    height: 32px;
    border-radius: 15px;
    padding-left: 5px;
}

.contacto {
    background-color: rgb(147, 226, 236);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#mensaje {
    width: 100%;
    height: 80px;
    border-radius: 15px;
    padding-left: 5px;
}
label{
    display: inline-block;
}

.casillaNombre, .casillaApellido, .casillaCorreo, .casillaMensaje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

footer {
    display: inline;
    height: fit-content;
}

.iconosFooter {
    padding: 1% 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.firma {
    font-size: 2em;
    text-align: center;
    padding-bottom: 5%;
}

@media (max-width:500px) {
    .barraNav {
        display: none;
    }

    .contacto {
        flex-direction: column;
    }

    .textoEstandar {
        font-size: 2em;
    }

    .textoPresentacion {
        align-items: center;
        padding: 20px;
    }

    h2 {
        font-size: 3em;
        font-weight: bolder;
        text-align: center;
    }

    h1 {
        font-size: 4em;
        font-weight: bolder;
    }

    .presentacion {
        width: 100vw;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .textoPresentacion {
        padding: 0;
    }

    #boton {
        margin-bottom: 20px;
    }

    .redesSoc,
    .formularioContacto {
        background-color: rgba(250, 235, 215, 0);
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario{
        margin: auto;
    }
    .enlaceContacto {
        font-size: 1.5em;
    }

    section {
        width: 100%;
        padding: 15px 0px 15px;
    }

    #textoRedes {
        text-align: center;
    }

    #nombre,
    #apellido,
    #correo-e,
    #mensaje {

        width: 100%;

    }

    #miImagen {
        width: 100vw;
    }

    .contenedorConocimientos,
    .contenedorProyectos {
        padding: 0;
    }

}